








body{
    background: url('Image_Assets/Gradiant_Smooth.png'), -webkit-linear-gradient(left, rgb(82, 67, 0) 0%,rgb(50, 113, 207) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    image-rendering: pixelated;
    background-blend-mode: multiply;    
    z-index: 0;
    width: 100%;
    height: 100%;
}
body{
    background: url('Image_Assets/Gradiant_Smooth.png'),webkit-gradient(linear, left top, right top, color-stop(0%,rgb(255, 7, 193)), color-stop(100%,rgb(8, 1, 107)));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    image-rendering: pixelated;
    background-blend-mode: multiply;
    z-index: -1;
}